version: "3.9"

services:
  # -----------------------------
  # SONARQUBE
  # -----------------------------
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    restart: unless-stopped
    ports:
      - "9000:9000"
    environment:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
    depends_on:
      - sonardb

  sonardb:
    image: postgres:18.0
    container_name: sonardb
    restart: unless-stopped
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonarpass
      POSTGRES_DB: sonarqube
    volumes:
      - sonardb_data:/var/lib/postgresql

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonardb_data:
